;
;

$max-width: 85%;

.greeting {
    padding: 12px 0;
    border-bottom: 1px solid $light-grey;
    display: flex;
    justify-content: space-between;
    animation: fadein .3s ease;

    @keyframes fadein {
        from {
            transform: scale(0.7);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    &__content {
        max-width: $max-width
    }

    &__category {
        padding-bottom: 8px;
        font-size: map-get($font-size, 1);
        flex-grow: 1;
        text-transform: uppercase;
        color: $gold;
        font-weight: 500;
    }

    &__greeting {
        font-size: map-get($font-size, 3);

        white-space:nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }

    &__action {
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__remove {
        height: 22px;
        width: 22px;
        padding: 0 8px;
        opacity: 0.5;
        cursor: pointer;

        @include hover-supported() {
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }

        @include respond-to('sm') {
            height: 24px;
            width: 24px;
        }
    }
}